<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="dev-01.smartmed_dev.dbo" connectionString="XpoProvider=MSSqlServer;data source=AzureServer;user id=;password=;initial catalog=smartmed_dev;Persist Security Info=true" />
    <add name="AzureServer_smartmed_dev_20_Connection" connectionString="XpoProvider=MSSqlServer;data source=AzureServer;user id='remote_dev';password=Qwerty123!&quot;#;initial catalog=smartmed_dev_20;Persist Security Info=true" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2016Colorful</value>
      </setting>
    </DXThemeManager>
  </userSettings>
</configuration>